#k1 {
    color: teal;
    background-color: red;
}
#main {
    background-color: rgb(31, 43, 43);
    color: gray;
    padding: 0.5% 10% 5% 10%;
}

p {
    text-align: justify;
}
body {
    background-image: url("background.jpg");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: cover;
    padding-right: 25%;
    padding-left: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

#u1:link, :visited {
    color: pink;
}
#u1:hover  {
    text-decoration: underline;
}


.spoiler {
    visibility: hidden;
}
.spoiler:hover {
    display: inline;
}

/* Button*/

.button {
    color: white;
    background-color: rgb(49, 70, 70);
    border-style: none;
    padding: 9px;
    margin-top: 5px;
    display: inline-block;
}
.button:hover {
    
    background-color: rgb(40, 56, 56);
}


.button2:hover {
    background: #ffa600;
    margin-left: 5px;
}

.button2 {
    background: #ff5400;
    color: #fff;
    border-radius: 5px;
    padding: 9px;
    margin-top: 5px;
    font-weight: 700;
    display: inline-block;
    transition: 0.2s;
}

.option:link, :visited {
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    color: gray;
    background: rgba(0,0,0,0.1);
    transition: 0.1s;
    border-color: rgba(0,0,0,0.2);
}

.option.aktiv:link, .option.aktiv:visited, .option:hover {
    color: #ff5400;
    border-color: #ff5400;
}


